@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');


@media screen and (max-width: 576px) {

    .hide-on-mobile { display: none }

}


.nav-item:hover {
    background-color: gray;
    transition: 0.5s
}

.navbar-brand {
    font-family: 'Gloria Hallelujah', cursive;
}

.bg-dark-blue {
    background-color: rgb(28, 44, 58)
}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link {
    background-color: rgb(43, 62, 78)
}

.nav-link {
    color:  rgb(43, 62, 78)
}

.mr-10 {
    margin-right: 6em;
}

.right {
    float: right;
}
