/* Colocar margem no alerta de compra */
.alert.alert-success {
    margin-top: 3%;
    margin-left: 10%;
}

/* Trocar cor do alerta de compras */
.alert-success {
    background-color: #343A40;
    border-color: #17A2B8;
    border-radius: 2em;
    border-width: 0.2em;
    color: #FFFFFF;
}

/* Aumentar tamanho do aviso: otimo */
h1 {
    font-size: 250%;
}

/* Ajustar a lista de compras */
.list-group{
    margin-left: 10%;
}

/* Ajustar o tamanho de sua compra e total a pagar */
h3{
    font-size: 170%;
}

/* Alterar cor da lista de compras */
.list-group-item.active {
    color: #fff;
    background-color: #343A40;
    border-color: #17A2B8;
    border-width: 0.2em;
}

/* Ajustar nome da camisa e preco */
h5{
    margin-top: 30%;
}

/* Ajustar texto: nome, email, cpf */
h6 {
    font-size: 140%;
    margin-left: 20%;
    margin-bottom: 20%;
    font-weight:normal;
    display: inline-block;
}


/* titulo dados pessoas e cartao de credito*/
h2 {
    margin-top: 10%;
}

/* Trocar cor botao concluir */
.btn-success {
    color: #fff;
    background-color: #343A40;
    border-color: #343A40;
}
.btn-success:hover {
    color: #fff;
    background-color: #17A2B8;
    border-color: #17A2B8;
}

@media screen and (max-width: 576px) {

    /* Retirar margin da compra caso seja dispositivo movel */
    h5 {
        margin-top: 0%;
    }

    /*Diminuir tamanho do nome da camisa e preco*/
    h5{
        font-size: 70%;
        margin-top: 15%;
    }
    h4{
        font-weight:normal;
        margin-left: 50%;
    }

    /* Ajustar o tamanho de sua compra e total a pagar */
    h3{
        font-size: 110%;
    }
}