a{
    color: #F75847 !important;
}
button{
    color: #F75847 !important;
    border-color: #F75847 !important;
}
#canvas{
    margin-left: 3% !important;
    margin-right: 3% !important;
}
#myNavbar{

}
#carrousel{
    margin-bottom: 6% !important;
}
#list{
    margin-top: 3% !important;
}
#pics{
}
.line{
    margin-top: 4% !important;
    text-align: center;
    margin-bottom: 4% !important;
}

.pic{
    max-width: 100%;
}

.overlay {
    text-shadow: white 0px 0px 10px;
    color: black;

}
