.fundoroxo{
    background-color: #660099;
}

.texto-roxo{
    color:#660099;
}

.dot {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    display: inline-block;
}

table{
    border-collapse: separate;
    border-spacing: 0px 40px;
}