nav{
    font-family: 'Offside', cursive;
}


h3{
    font-family: 'Mouse Memoirs';
    padding-bottom: 5%;
}

img {
    max-height:400px;
}

.img_modelos img{
    margin-top: 5%;
    margin-bottom: 8%;
}

.search {
    margin-top: 2%;
    margin-bottom: 2%;
}

.mar{
    margin-top: 5%;
}

img:hover {
    transform: scale(1.1);
    transition: .3s;
  }

.item img:hover {
    transform: scale(1.2);
    transition: 10s;
    opacity: 0.35;
  }

p{
    text-align: center;
    font-family: 'Offside', cursive;
}

.col-xs-12 {
    margin-top: 3%;
    text-align: center;
}

.col-sm-3{
    margin-top: 3%;
}