#MeuCarrosel img{
    height: 500px;
}

.myItem img{
    width: 90%;
    height: 360px;
}

.myItem{
    text-align: center;
}

.myItem img:hover{
    width: 110%;
    height: 480px;
    transition: 1s;
}

.cor{
    width: 50px;
    height: 50px;
}

.alert-title{
    font-size: 400%;
}

.carrinho-lbl{
    text-align: end;
}

.carousel-caption{
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 4px white;
}
