.button{
    border-color: black !important;
    margin-top: 16% !important;
    font-size: 1.3em !important;
    font-family: 'Lato', sans-serif;
    text-align: left !important;
    color: black !important;
}
#elements{
    margin-top: 3% !important;
    margin-bottom: 4% !important;
}
#title{
    margin-top: 3% !important;
    margin-bottom: 2% !important;
    text-align: center;
}
#preco{
    margin-top: 11% !important;
    font-size: 2.3em !important;
    font-family: 'Lato', sans-serif;
    text-align: left !important;
}
#preco1{
    margin-top: 16% !important;
    font-size: 2.3em !important;
    font-family: 'Lato', sans-serif;
    text-align: center !important;
}
#type{
    margin-top: 16% !important;
    color: white !important;
    padding: 0px;
}
#imgs{
    margin: 16% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px;
}
#comprar{
    max-height: 13% !important;
    margin-top: 13% !important;
    margin-bottom: 13% !important;
    border-radius: 10px;
    border-color:  #F75847 !important;
    font-size: 2.2em;
    font-family: 'Lato', sans-serif;
    width: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.text{
    margin-top: 12% !important;
    font-size: 1.3em !important;
    font-family: 'Lato', sans-serif;
    text-align: left !important;
    color: black !important;
}
.colorOption{
    width: 100%;
    height: 100% !important;
}
.dot{
    height: 80px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
