
.rside{
    overflow: auto;
    height: 400px;
}

.conserto{
    padding-left: 0% !important;
    margin-left: 15px !important; 
}

.teste{
    height: 300px !important;
}

@media screen and (max-width: 768px) {
    .rside{
        height: 306px;
    }
    
}

