body{
    background-color: #DDDEFF !important;
}

.bg-menu {
    background-color: #0D7FFF !important;
}

.carousel-camisetas {
    width: 100% !important;
    height: 400px !important;
}

.img-background {
    height: 100% !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    filter: blur(5px) !important;
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    z-index: -1 !important;
}

.img-content {
    height: 100% !important;
    width: auto !important;
    max-width: 100% !important;
}

.camisa {
    &:hover {
        transform: scale(1.1) !important;
        transition: 0.2s !important;
    }
}


